
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
   
}

img {
    height: $img-height;
    width: $img-width;
}

#flip {
    transform: scaleX(-1);
}